# --- IDE'ler ---
.idea/
*.iml
.vscode/
.apt_generated
.classpath
.project
.settings/
.springBeans
.sts4-cache
.nb-gradle/
.nbproject/private/

# --- Build/çıktılar ---
target/
build/
out/
bin/
dist/
nbbuild/
nbdist/
*.class
*.log

# --- Gradle ---
.gradle/

# --- İşletim sistemi ---
.DS_Store
Thumbs.db
