# Default ignored files
/../../YoutubeJava1./.idea/shelf/
/../../YoutubeJava1./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../YoutubeJava1./.idea/httpRequests/
# Datasource local storage ignored files
/../../YoutubeJava1./.idea/dataSources/
/../../YoutubeJava1./.idea/dataSources.local.xml
